<!-- footer.html -->

<div class="footer">
 {#
  <div class="footer-top">
    <div class="w footer-top-bg h100">
      <div class="region region-left-news">
        <div id="block-views-news-block" class="block block-views">
          <h2>НОВОСТИ ГРУППЫ КОМПАНИЙ «ИНТРАНС».</h2>
          <div class="content">
            <div class="view view-news view-id-news view-display-id-block view-dom-id-91246ed91bc48abbd5b9c073c3c567c1">
              <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first">
                  <div class="news-block">
                    <table class="table_100 table_top">
                      <tbody>
                        <tr>
                          <td class="nowrap">
                            <div class="news-block-data nowrap"> <span class="anons-news-day"><div>19</div></span> <span class="anons-news-mouth"><div>Январь</div></span> </div>
                          </td>
                          <td class="w100 news-block-title"> <span class="field-content">Рейтинг контейнерных операторов по итогам 2016 года</span> </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="clr"></div>
                    <div class="news-block-anons">
                      <div class="field-content">Внутри подробные цифры</div>
                    </div>
                    <div class="news-more"><span><a href="/reyting-konteynernyh-operatorov-po-itogam-2016-goda-0">Подробнее...</a></span></div>
                  </div>
                </div>
                <div class="views-row views-row-2 views-row-even">
                  <div class="news-block">
                    <table class="table_100 table_top">
                      <tbody>
                        <tr>
                          <td class="nowrap">
                            <div class="news-block-data nowrap"> <span class="anons-news-day"><div>23</div></span> <span class="anons-news-mouth"><div>Декабрь</div></span> </div>
                          </td>
                          <td class="w100 news-block-title"> <span class="field-content">Кто заработает на налоге с Alibaba</span> </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="clr"></div>
                    <div class="news-block-anons">
                      <div class="field-content">Спойлер: на "Летучке с Фонтанкой" присутствовал ген.директор ГК "ИнТранс"</div>
                    </div>
                    <div class="news-more"><span><a href="/kto-zarabotaet-na-naloge-s-alibaba">Подробнее...</a></span></div>
                  </div>
                </div>
                <div class="views-row views-row-3 views-row-odd views-row-last">
                  <div class="news-block">
                    <table class="table_100 table_top">
                      <tbody>
                        <tr>
                          <td class="nowrap">
                            <div class="news-block-data nowrap"> <span class="anons-news-day"><div>22</div></span> <span class="anons-news-mouth"><div>Декабрь</div></span> </div>
                          </td>
                          <td class="w100 news-block-title"> <span class="field-content">Uber-технологии в таможне</span> </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="clr"></div>
                    <div class="news-block-anons">
                      <div class="field-content">Uberизация во всех сферах. Чем может помочь Sharing-economy таможне?</div>
                    </div>
                    <div class="news-more"><span><a href="/uber-tehnologii-v-tamozhne">Подробнее...</a></span></div>
                  </div>
                </div>
              </div>
              <div class="clr"></div> <a class="all-news" href="/news">Все новости</a>
              <div class="clr"></div>
            </div>
          </div>
        </div>
        <!-- /.block -->
      </div>
      <!-- /.region -->
    </div>
  </div>
  #}
  <div class="footer-bottom">
    <div class="w rel clearfix h100 footer-bottom-bg">
      <div class="footer-logo">
        <!--<a href="http://www.iso.org/iso/home.htm" class="iso" ></a>
              <a href="http://www.atlas-network.com/launch.cfm" class="atlas" ></a>
              <a href="http://www.spbcci.ru/" class="palata" ></a>--></div>
      <div class="itsspb">Разработка и поддержка сайта компания <a href="http://itsspb.ru">АЙ ТИ СЕРВИС</a> </div>
      <!-- copyright -->
      <div class="copy" style="margin-top: 25px;">© ООО "ИНТРАНС" 2014
        <br> Все права защищены</div>
      <!-- bottom menu -->
      <ul class="bottom-menu left">
        <li class="menu-460 first"><a href="/about-company">О компании</a></li>
        <li class="menu-861"><a href="/intrans_live">Интранс LIVE</a></li>
        <li class="menu-512"><a href="/geography-work">География работы</a></li>
        <li class="menu-513"><a href="/work-to-company">Работа в компании</a></li>
        <li class="menu-514"><a href="/deyatelnost">Пресс-центр</a></li>
        <li class="menu-464 last"><a href="/contacts">Контакты</a></li>
      </ul>
      <!-- pair --><a href="/pair" class="pair">Партнерам</a> </div>
  </div>
</div>
