<!-- Header -->
<header class="clearfix">
  <div id="timeout" class="hide">3000</div>
  <table class="table_100 table_top">
    <tbody>
      <tr>
        <td class="top-table-left-td">
          <!-- logo -->
          <a href="/" class="logo logot13 opacity">
            <div class="logo-text">логистический оператор полного цикла</div>
          </a>
        </td>
        <td class="top-table-right-td">
          <!-- top menu -->
          <a href="javascript:;" class="mob-menu-toggle">
            <i class="fa fa-bars"></i>
          </a>
          <div class="left JStm">
            <ul class="top-menu inline_block">
              <li class="menu-460 first"><a href="/about-company">О компании</a></li>
              <li class="menu-861"><a href="/intrans_live">Интранс LIVE</a></li>
              <li class="menu-512"><a href="/geography-work">География работы</a></li>
              <li class="menu-513"><a href="/work-to-company">Работа в компании</a></li>
              <li class="menu-514"><a href="/deyatelnost">Пресс-центр</a></li>
              <li class="menu-464 last"><a href="/contacts">Контакты</a></li>
            </ul>
          </div>
          <div class="right lan">
            <div class="region region-language">
              <div id="block-block-9" class="block block-block">
                <div class="content">
                  <!-- Yandex.Metrika counter -->
                  <script type="text/javascript">
                    (function (d, w, c) {
                      (w[c] = w[c] || []).push(function () {
                        try {
                          w.yaCounter36160100 = new Ya.Metrika({
                            id: 36160100
                            , clickmap: true
                            , trackLinks: true
                            , accurateTrackBounce: true
                          });
                        }
                        catch (e) {}
                      });
                      var n = d.getElementsByTagName("script")[0]
                        , s = d.createElement("script")
                        , f = function () {
                          n.parentNode.insertBefore(s, n);
                        };
                      s.type = "text/javascript";
                      s.async = true;
                      s.src = "https://mc.yandex.ru/metrika/watch.js";
                      if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                      }
                      else {
                        f();
                      }
                    })(document, window, "yandex_metrika_callbacks");
                  </script>
                  <noscript>&lt;div&gt;&lt;img src="https://mc.yandex.ru/watch/36160100" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript>
                  <!-- /Yandex.Metrika counter -->
                </div>
              </div>
              <!-- /.block -->
            </div>
            <!-- /.region -->
            <div class="lang_wrap">
              <a href="/"><img src="http://intrans.net/sites/all/themes/intrans/img/ru.png"></a>
              <a href="/en"><img src="http://intrans.net/sites/all/themes/intrans/img/en.png"></a>
            </div>
          </div>
          <div class="clr"></div>
          <div class="JS_locator_container">
            <div class="region-nomer">
              <div class="JS_region">Санкт-Петербург</div>
              <div class="JS_region_nomer">+7 (812) 407-88-99</div>
            </div>
            <div class="JS_other_sity"> Другой город
              <div id="JS_popup_sity" onmouseleave="menu_car_hide();" class="JS_popup_sity">
                <div class="JS_popup_sity_item" data-n="0">Московская область</div>
                <div class="JS_popup_sity_item" data-n="1">Новосибирская область</div>
                <div class="JS_popup_sity_item" data-n="2">Свердловская область</div>
                <div class="JS_popup_sity_item" data-n="3">Нижегородская область</div>
                <div class="JS_popup_sity_item" data-n="4">Татарстан</div>
                <div class="JS_popup_sity_item" data-n="5">Челябинская область</div>
                <div class="JS_popup_sity_item" data-n="6">Самарская область</div>
                <div class="JS_popup_sity_item" data-n="7">Башкирия</div>
                <div class="JS_popup_sity_item" data-n="8">Красноярский край</div>
                <div class="JS_popup_sity_item" data-n="9">Пермская область</div>
                <div class="pom_sity_item">Головной офис</div>
                <div class="JS_popup_sity_item popup_sity_item_active" data-n="10">Санкт-Петербург</div>
              </div>
            </div>
            
            <div class="JS_user" data-toggle="modal" data-target="#modal-enter">
              Вход
            </div>
            
            <div class="JS_user logged">
              <i class="fa fa-user-circle"></i><span>Личный кабинет</span>
              <div id="JS_popup_user" onmouseleave="menu_car_hide();" class="JS_popup_user">
                <a href=""><i class="fa fa-bell"></i> Уведомления <b>2</b></a>
                <a href=""><i class="fa fa-file-text-o"></i> Заявки <b>+ 4</b></a>
                <a href=""><i class="fa fa-plus-circle"></i> Добавить заявку</a>
                <a href=""><i class="fa fa-cogs"></i> Настройки</a>
                <a href=""><i class="fa fa-question-circle-o"></i> Помощь</a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</header>
<!-- top-second-menu -->
<div class="w clearfix mt6">
  <div class="region region-top-second-menu">
    <div id="block-views-top-second-menu-block" class="block block-views">
      <div class="content">
        <div class="view view-top-second-menu view-id-top_second_menu view-display-id-block view-dom-id-e5f347234e28a4ea1c895610089d7adf">
          <div class="view-content">
            <a class="top-second-menu-a
" href="/tamogenoe-oformlenie"> <span class="field-content">Таможенное оформление и сопровождение ВЭД</span>
              <div class="top-second-icon">
                <div><img typeof="foaf:Image" src="http://intrans.net/sites/default/files/icon1.png" width="28" height="35" alt=""></div>
              </div>
              <div class="top-second-icon-hover hide">
                <div><img typeof="foaf:Image" src="http://intrans.net/sites/default/files/icon1_hover.png" width="28" height="35" alt=""></div>
              </div>
            </a>
            <a class="top-second-menu-a
" href="/expedirovanie-gruzov"> <span class="field-content">Экспедирование грузов</span>
              <div class="top-second-icon">
                <div><img typeof="foaf:Image" src="http://intrans.net/sites/default/files/icon2.png" width="35" height="32" alt=""></div>
              </div>
              <div class="top-second-icon-hover hide">
                <div><img typeof="foaf:Image" src="http://intrans.net/sites/default/files/icon2_hover.png" width="35" height="32" alt=""></div>
              </div>
            </a>
            <a class="top-second-menu-a
" href="/konsultacii-po-ved"> <span class="field-content">Консультационный центр</span>
              <div class="top-second-icon">
                <div><img typeof="foaf:Image" src="http://intrans.net/sites/default/files/icon4.png" width="37" height="40" alt=""></div>
              </div>
              <div class="top-second-icon-hover hide">
                <div><img typeof="foaf:Image" src="http://intrans.net/sites/default/files/icon4_hover.png" width="37" height="40" alt=""></div>
              </div>
            </a>
            <a class="top-second-menu-a
" href="/kompleksnya-logistika"> <span class="field-content">Комплексные логистические решения</span>
              <div class="top-second-icon">
                <div><img typeof="foaf:Image" src="http://intrans.net/sites/default/files/icon5.png" width="29" height="31" alt=""></div>
              </div>
              <div class="top-second-icon-hover hide">
                <div><img typeof="foaf:Image" src="http://intrans.net/sites/default/files/icon5_hover.png" width="29" height="31" alt=""></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.block -->
  </div>
  <!-- /.region -->
</div>
<!-- blocks -->
<div class="w clearfix row">
   <a class="block-menu-min block-menu1-min" href="/morskie-perevozky">МОРСКИЕ <br> ПЕРЕВОЗКИ</a>
   <a class="block-menu-min block-menu2-min" href="/avtotransportnie-perevozky">АВТОТРАНСПОРТНЫЕ <br> ПЕРЕВОЗКИ</a>
   <a class="block-menu-min block-menu3-min" href="/aviacionnye-perevozky">АВИАЦИОННЫЕ <br> ПЕРЕВОЗКИ</a>
   <a class="block-menu-min block-menu4-min1 block-menu4-min" href="/geleznodor">ЖЕЛЕЗНОДОРОЖНЫЕ <br> ПЕРЕВОЗКИ</a>
   <a class="block-menu-min block-menu5-min block-menu4-min" href="/multimodal">Мультимодальные <br>
перевозки</a>
   <a class="block-menu-min block-menu6" href="/sbornie-gruzy">ПЕРЕВОЗКИ СБОРНЫХ <br> ГРУЗОВ</a>
</div>

     
<div class="cabhead">
  <h2>Личный кабинет</h2>
  <a href="" class="btn btn-primary add-z"><i class="fa fa-plus"></i> Заявку</a>
  <nav>
    <ul>
      <li>
        <a href=""><i class="fa fa-bell"></i> <span>Уведомления</span> <b>2</b></a>
      </li>
      <li>
        <a href=""><i class="fa fa-file-text-o"></i> <span>Заявки</span> <b>+ 4</b></a>
      </li>
      <li class="active">
        <a href=""><i class="fa fa-cogs"></i> <span>Настройки</span></a>
      </li>
      <li>
        <a href="/za_add"><i class="fa fa-question-circle-o"></i> <span>Помощь</span></a>
      </li>
    </ul>
  </nav>
  
</div>
      