
<!-- modal.html -->
<!-- Sign UP -->
<div class="modal modal-enter fade" id="modal-enter" tabindex="-1" role="dialog">
  <div class="sign-up">
    <div class="card card-container">
      <a type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></a>
      <h2>Войти</h2>
      <img id="profile-img" class="profile-img-card" src="../img/enter.svg" />
      <form class="form-signin">
          <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
          <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Запомнить меня
              </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Войти в кабинет</button>
      </form><!-- /form -->
      <a href="#" class="forgot-password">
        Забыли пароль?
      </a>
      <a href="#" class="reg-link">
        Регистрация
      </a>
    </div><!-- /card-container -->
  </div>
</div>
