<!-- pager.html -->
<nav class="nav-pager">
  <ul class="pagination">
    <li class="ppr">
      <a href="#" aria-label="Previous">
        <i class="fa fa-angle-left"></i>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">150</a></li>
    <li class="ppn">
      <a href="#" aria-label="Next">
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
  </ul>
</nav>