/*
  Base
*/
@font-face {
    font-family: 'PFmedium';
    src: url('../fonts/PFdinMedium/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/PFdinMedium/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFdinMedium/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium') format('svg'),
    url('../fonts/PFdinMedium/pfdintextcondpro-medium-webfont.woff') format('woff'),
    url('../fonts/PFdinMedium/pfdintextcondpro-medium-webfont.woff2') format('woff2'),
    url('../fonts/PFdinMedium/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFBold';
    src: url('../fonts/PFDinBold/pfdintextcondpro-bold-webfont.eot');
    src: url('../fonts/PFDinBold/pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinBold/pfdintextcondpro-bold-webfont.woff') format('woff'),
    url('../fonts/PFDinBold/pfdintextcondpro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFregular';
    src: url('../fonts/PFDinRegular/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/PFDinRegular/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinRegular/pfdintextcondpro-regular-webfont.woff') format('woff'),
    url('../fonts/PFDinRegular/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
