{% set title = "Кабинет: Помощь" %}

<!DOCTYPE html>
<html>
{% include "template/head.html" %}


<body class="cab html front not-logged-in no-sidebars page-node page-node- page-node-385 node-type-page i18n-ru">
  <div class="root" data-lang="ru">
    <div class="w root_padding"> 
      {% include "template/header.html" %}
      
      <ol class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Личный кабинет</a></li>
        <li class="active">Настройки</li>
      </ol>
      
      <div class="cab-page w clearfix pb50">
       
        <dl class="faq">
            <dt>Как пользоваться кабинетом</dt>
            <dd>
              <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. С другой стороны сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Идейные соображения высшего порядка, а также рамки и место обучения кадров в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Равным образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации форм развития. Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки дальнейших направлений развития.</p>
            </dd>
            
            <dt>Как добавлять заявки</dt>
            <dd>first answer to question two</dd>
            <dd>second answer to question two</dd>
            
            <dt>Как изменять заявки</dt>
            <dd>first answer to question three</dd>
            <dd>second answer to question three</dd>
        </dl>
      </div>
    </div>
  </div>

  {% include "template/footer.html" %} 

{% include "template/modal.html" %}
{% include "template/scripts.html" %}

</body>
</html>
